body {
    font-family: Arial,sans-serif;
}
a {
    outline: 0 none;
    text-decoration: none;
}
body {
    color: #000000;
}
.line, .lastUnit {
    overflow: hidden;
}
.unit {
    float: left;
}
.unitExt {
    float: right;
}
.size1of1 {
    float: none;
}
.size1of2 {
    width: 50%;
}
.size1of3 {
    width: 33.3333%;
}
.size2of3 {
    width: 66.6667%;
}
.size1of4 {
    width: 25%;
}
.size3of4 {
    width: 75%;
}
.size1of5 {
    width: 20%;
}
.size2of5 {
    width: 40%;
}
.size3of5 {
    width: 60%;
}
.size4of5 {
    width: 80%;
}
.lastUnit {
    float: none;
    width: auto;
}
.media {
    width: auto;
}
.bold {
    font-weight: bold;
}
.bolder {
    font-weight: bolder;
}
.noBrd {
    border: 0 none !important;
}
.noBg {
    background: none repeat scroll 0 0 transparent !important;
}
.highLight {
    color: #A45255;
}
.red {
    color: #D40000;
}
.txtL {
    text-align: left !important;
}
.txtC {
    text-align: center !important;
}
.txtR {
    text-align: right !important;
}
.txtT {
    vertical-align: top !important;
}
.txtM {
    vertical-align: middle !important;
}
.txtB {
    vertical-align: bottom !important;
}
.txtJ {
    text-align: justify !important;
}
.txtSpace-5 {
    letter-spacing: -5px;
}
.txtSpace-4 {
    letter-spacing: -4px;
}
.txtSpace-3 {
    letter-spacing: -3px;
}
.txtSpace-2 {
    letter-spacing: -2px;
}
.txtSpace-1 {
    letter-spacing: -1px;
}
.txtSpace0 {
    letter-spacing: 0;
}
.txtSpace1 {
    letter-spacing: 1px;
}
.txtSpace2 {
    letter-spacing: 2px;
}
.txtSpace3 {
    letter-spacing: 3px;
}
.txtSpace4 {
    letter-spacing: 4px;
}
.txtSpace5 {
    letter-spacing: 5px;
}
.floatL {
    float: left;
}
.floatR {
    float: right;
}
.floatN {
    float: none;
}
.clear {
    clear: both;
}
.floatLL {
    float: left !important;
}
.floatRR {
    float: right !important;
}
.floatNN {
    float: none !important;
}
.context {
    overflow: hidden;
}
.fullW {
    display: block;
    width: 100%;
}
.fullH {
    display: block;
    height: 100%;
}
.flowhidden {
    overflow: hidden;
}
.flowhiddenX {
    overflow-x: hidden;
}
.flowhiddenY {
    overflow-y: hidden;
}
.flowvisible {
    overflow: visible;
}
.flowvisibleX {
    overflow-x: visible;
}
.flowvisibleY {
    overflow-y: visible;
}
.flowauto {
    overflow: auto;
}
.flowautoX {
    overflow-x: auto;
}
.flowautoY {
    overflow-y: auto;
}
.flowscroll {
    overflow: scroll;
}
.flowscrollX {
    overflow-x: scroll;
}
.flowscrollY {
    overflow-y: scroll;
}
.fullImg img {
    display: block;
    width: 100%;
}
.mediaSplit img, .mediaSplit object, .mediaSplit embed {
    display: block;
    vertical-align: top;
    width: 100%;
}
.Vspace, .Tspace {
    margin-top: 12px !important;
}
.Vspace, .Bspace {
    margin-bottom: 12px !important;
}
.home .block .Vspace, .home .block .Tspace {
    margin-top: 6px !important;
}
.home .block .Vspace, .home .block .Bspace {
    margin-bottom: 6px !important;
}
.marginSm {
    margin: 5px !important;
}
.margin {
    margin: 10px !important;
}
.marginLg {
    margin: 20px !important;
}
.marginXLg {
    margin: 30px !important;
}
.marginXXLg {
    margin: 40px !important;
}
.marginXXXLg {
    margin: 50px !important;
}
.VmarginSm, .TmarginSm {
    margin-top: 5px !important;
}
.VmarginSm, .BmarginSm {
    margin-bottom: 5px !important;
}
.HmarginSm, .LmarginSm {
    margin-left: 5px !important;
}
.HmarginSm, .RmarginSm {
    margin-right: 5px !important;
}
.Vmargin, .Tmargin {
    margin-top: 10px !important;
}
.Vmargin, .Bmargin {
    margin-bottom: 10px !important;
}
.Hmargin, .Lmargin {
    margin-left: 10px !important;
}
.Hmargin, .Rmargin {
    margin-right: 10px !important;
}
.VmarginLg, .TmarginLg {
    margin-top: 20px !important;
}
.VmarginLg, .BmarginLg {
    margin-bottom: 20px !important;
}
.HmarginLg, .LmarginLg {
    margin-left: 20px !important;
}
.HmarginLg, .RmarginLg {
    margin-right: 20px !important;
}
.VmarginXLg, .TmarginXLg {
    margin-top: 30px !important;
}
.VmarginXLg, .BmarginXLg {
    margin-bottom: 30px !important;
}
.HmarginXLg, .LmarginXLg {
    margin-left: 30px !important;
}
.HmarginXLg, .RmarginXLg {
    margin-right: 30px !important;
}
.VmarginXXLg, .TmarginXXLg {
    margin-top: 40px !important;
}
.VmarginXXLg, .BmarginXXLg {
    margin-bottom: 40px !important;
}
.HmarginXXLg, .LmarginXXLg {
    margin-left: 40px !important;
}
.HmarginXXLg, .RmarginXXLg {
    margin-right: 40px !important;
}
.VmarginXXXLg, .TmarginXXXLg {
    margin-top: 50px !important;
}
.VmarginXXXLg, .BmarginXXXLg {
    margin-bottom: 50px !important;
}
.HmarginXXXLg, .LmarginXXXLg {
    margin-left: 50px !important;
}
.HmarginXXLg, .RmarginXXXLg {
    margin-right: 50px !important;
}
.margin0, .Vmargin0 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.margin0, .Hmargin0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.Tmargin0 {
    margin-top: 0 !important;
}
.Bmargin0 {
    margin-bottom: 0 !important;
}
.Lmargin0 {
    margin-left: 0 !important;
}
.Rmargin0 {
    margin-right: 0 !important;
}
.paddingSm {
    padding: 5px !important;
}
.padding {
    padding: 10px !important;
}
.paddingLg {
    padding: 20px !important;
}
.paddingXLg {
    padding: 30px !important;
}
.paddingXXLg {
    padding: 40px !important;
}
.paddingXXXLg {
    padding: 50px !important;
}
.VpaddingSm, .TpaddingSm {
    padding-top: 5px !important;
}
.VpaddingSm, .BpaddingSm {
    padding-bottom: 5px !important;
}
.HpaddingSm, .LpaddingSm {
    padding-left: 5px !important;
}
.HpaddingSm, .RpaddingSm {
    padding-right: 5px !important;
}
.Vpadding, .Tpadding {
    padding-top: 10px !important;
}
.Vpadding, .Bpadding {
    padding-bottom: 10px !important;
}
.Hpadding, .Lpadding {
    padding-left: 10px !important;
}
.Hpadding, .Rpadding {
    padding-right: 10px !important;
}
.VpaddingLg, .TpaddingLg {
    padding-top: 20px !important;
}
.VpaddingLg, .BpaddingLg {
    padding-bottom: 20px !important;
}
.HpaddingLg, .LpaddingLg {
    padding-left: 20px !important;
}
.HpaddingLg, .RpaddingLg {
    padding-right: 20px !important;
}
.VpaddingXLg, .TpaddingXLg {
    padding-top: 30px !important;
}
.VpaddingXLg, .BpaddingXLg {
    padding-bottom: 30px !important;
}
.HpaddingXLg, .LpaddingXLg {
    padding-left: 30px !important;
}
.HpaddingXLg, .RpaddingXLg {
    padding-right: 30px !important;
}
.VpaddingXXLg, .TpaddingXXLg {
    padding-top: 40px !important;
}
.VpaddingXXLg, .BpaddingXXLg {
    padding-bottom: 40px !important;
}
.HpaddingXXLg, .LpaddingXXLg {
    padding-left: 40px !important;
}
.HpaddingXXLg, .RpaddingXXLg {
    padding-right: 40px !important;
}
.VpaddingXXXLg, .TpaddingXXXLg {
    padding-top: 50px !important;
}
.VpaddingXXXLg, .BpaddingXXXLg {
    padding-bottom: 50px !important;
}
.HpaddingXXXLg, .LpaddingXXXLg {
    padding-left: 50px !important;
}
.HpaddingXXXLg, .RpaddingXXXLg {
    padding-right: 50px !important;
}
.padding0, .Vpadding0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.padding0, .Hpadding0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.Tpadding0 {
    padding-top: 0 !important;
}
.Bpadding0 {
    padding-bottom: 0 !important;
}
.Lpadding0 {
    padding-left: 0 !important;
}
.Rpadding0 {
    padding-right: 0 !important;
}
.wasp {
    position: absolute;
    top: -5000px;
}
.top0 {
    top: 0;
}
.left0 {
    left: 0;
}
.right0 {
    right: 0;
}
.bottom0 {
    bottom: 0;
}
.top50 {
    top: 50%;
}
.left50 {
    left: 50%;
}
.right50 {
    right: 50%;
}
.bottom50 {
    bottom: 50%;
}
.top100 {
    top: 100%;
}
.left100 {
    left: 100%;
}
.right100 {
    right: 100%;
}
.bottom100 {
    bottom: 100%;
}
.abs {
    position: absolute !important;
}
.rel {
    position: relative !important;
}
.static {
    position: static !important;
}
.fixed {
    position: fixed !important;
}
.dispBlock {
    display: block !important;
}
.dispNone {
    display: none !important;
}
.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
.inlineblock {
    display: inline-block;
    word-spacing: 0;
    *zoom: 1; /*offre le layout à un élément (*)*/
   	*display: inline;
}
.hiddenTxt {
    display: block;
    text-indent: -3000px;
}
input.text, select, textarea, span.text {
    border: 1px solid #CCCCCC;
}
.fline .inlineFields select {
}
span.text input.text, span.text input, span.text textarea {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.fline, .flineL {
    width: 100%;
}
.fline label {
    float: left;
    font-weight: bold;
    margin-top: 2px;
}
.flineL input {
    float: left;
    font-weight: normal;
    margin-right: 3px;
    margin-top: 2px;
}
.fline span, .fline .group {
    display: block;
    overflow: hidden;
}
.fline span.text input, .fline span.text input.text, .fline span.text textarea, .fline .group span.text input, .fline .group select, .fline .group textarea, .fline span select, .fline span input.file {
    width: 100%;
}
.multifields label {
    width: auto !important;
}
.multilines label {
    display: block;
    float: none !important;
    width: auto !important;
}
.groupCheckLeft .check {
    float: left;
    margin-right: 3px;
    margin-top: 2px;
}
.groupCheckLeft label {
    display: block;
    float: none;
    margin-right: 0 !important;
    overflow: hidden;
    width: auto !important;
}
.inlineFields label, .inlineFields input, .inlineFields select, .inlineFields textarea {
    display: inline;
    float: none;
    vertical-align: middle;
    width: auto !important;
}
.inlineFields label {
    margin-left: 3px;
    margin-right: 5px;
}
.label10 label {
    width: 10%;
}
.label20 label {
    width: 20%;
}
.label30 label {
    width: 30%;
}
.label33 label {
    width: 33%;
}
.label40 label {
    width: 40%;
}
.label50 label {
    width: 50%;
}
.label60 label {
    width: 60%;
}
.label70 label {
    width: 70%;
}
.label80 label {
    width: 80%;
}
.label90 label {
    width: 90%;
}
.input10 {
    width: 10% !important;
}
.input20 {
    width: 20% !important;
}
.input30 {
    width: 30% !important;
}
.input40 {
    width: 40% !important;
}
.input50 {
    width: 50% !important;
}
.input60 {
    width: 60% !important;
}
.input70 {
    width: 70% !important;
}
.input80 {
    width: 80% !important;
}
.input90 {
    width: 90% !important;
}
.input10, .input20, .input30, .input40, .input50, .input60, .input70, .input80, .input90 {
    float: none !important;
}
.errormsg {
    color: #DA0000;
    display: block;
    margin-bottom: 5px;
    margin-top: -5px;
}
.formTipLine span {
    float: left !important;
}
.formTip {
    float: left;
    margin-left: 3px;
    margin-top: 2px;
}
.formTip20 {
    width: 29% !important;
}
.formTip30 {
    width: 28% !important;
}
textarea.noScroll {
    overflow: hidden;
}
