body, html{background:#000;overflow:hidden;height:100%}
body{font-family:Arial, sans-serif;}

body{color:#FFF}



#all{display:none;}




a{outline:none;text-decoration:none;color:black;}


.bold {
    font-weight: bold;
}

.noBrd {
    border: 0 none !important;
}
.clear {
    clear: both;
}
.txtL {
    text-align: left !important;
}
.txtC {
    text-align: center !important;
}
.txtR {
    text-align: right !important;
}
.txtT {
    vertical-align: top !important;
}
.txtM {
    vertical-align: middle !important;
}
.txtB {
    vertical-align: bottom !important;
}
.floatL, .float_l {
    float: left;
}
.floatR, .float_r {
    float: right;
}
.context {
    overflow: hidden;_overflow:visible;zoom:1;
}
.fullImg img {
    display: block;
    width: 100%;
}

.marginSm {
    margin: 5px !important;
}
.margin {
    margin: 10px !important;
}
.marginLg {
    margin: 20px !important;
}
.VmarginSm, .TmarginSm {
    margin-top: 5px !important;
}
.VmarginSm, .BmarginSm {
    margin-bottom: 5px !important;
}
.HmarginSm, .LmarginSm {
    margin-left: 5px !important;
}
.HmarginSm, .RmarginSm {
    margin-right: 5px !important;
}
.Vmargin, .Tmargin {
    margin-top: 10px !important;
}
.Vmargin, .Bmargin {
    margin-bottom: 10px !important;
}
.Hmargin, .Lmargin {
    margin-left: 10px !important;
}
.Hmargin, .Rmargin {
    margin-right: 10px !important;
}
.VmarginLg, .TmarginLg {
    margin-top: 20px !important;
}
.VmarginLg, .BmarginLg {
    margin-bottom: 20px !important;
}
.HmarginLg, .LmarginLg {
    margin-left: 20px !important;
}
.HmarginLg, .RmarginLg {
    margin-right: 20px !important;
}
.paddingSm {
    padding: 5px !important;
}
.padding {
    padding: 10px !important;
}
.paddingLg {
    padding: 20px !important;
}
.VpaddingSm, .TpaddingSm {
    padding-top: 5px !important;
}
.VpaddingSm, .BpaddingSm {
    padding-bottom: 5px !important;
}
.HpaddingSm, .LpaddingSm {
    padding-left: 5px !important;
}
.HpaddingSm, .RpaddingSm {
    padding-right: 5px !important;
}
.Vpadding, .Tpadding {
    padding-top: 10px !important;
}
.Vpadding, .Bpadding {
    padding-bottom: 10px !important;
}
.Hpadding, .Lpadding {
    padding-left: 10px !important;
}
.Hpadding, .Rpadding {
    padding-right: 10px !important;
}
.VpaddingLg, .TpaddingLg {
    padding-top: 20px !important;
}
.VpaddingLg, .BpaddingLg {
    padding-bottom: 20px !important;
}
.HpaddingLg, .LpaddingLg {
    padding-left: 20px !important;
}
.HpaddingLg, .RpaddingLg {
    padding-right: 20px !important;
}

.dispBlock {
    display: block;
}
.dispNone {
    display: none !important;
}
.hidden {
    visibility: hidden;
}
.noBG {
    background: none repeat scroll 0 50% transparent !important;
}
.absolute {
    position: absolute !important;
}
.top0 {
    top: 0 !important;
}

