.page.dispNone.context
	.abs.fullW.fullH.dispTable
		.dispCell.txtM
			.constraint.marginAuto.HpaddingLg.topborder
				.padding.txtC.VpaddingLg.sizeLg
					p.txtL.Hpadding.BpaddingXXLg In order to find my location easily,
						br 
						span.bold.green Please consider studying the map to my place :
				
				.context.sizeR.line.txtC
					.unit.floatL.LmarginLg.Bmargin(style="width:184px")
						
						a.dispBlock.fullW.green.bold(href="#")
							span Using Google Maps
								img.dispBlock.Tmargin(alt="google maps directions thumbnail", src="./img/map_google.png")
					
					.unit.floatR.RmarginLg.Bmargin(style="width:184px")
						a.dispBlock.fullW.green.bold(href="#")
							span Using Naver Maps
								img.dispBlock.Tmargin(alt="naver maps directions thumbnail", src="./img/map_naver.png")
				a.dispBlock.toHome.powderBG.topborder.rightborder(href="#/en/home/") &lt; Back