.page.dispNone.context
	.abs.dispTable.fullW.fullH
		.dispCell.txtM
			.constraint.marginAuto.HpaddingLg.topborder
				.padding.txtC.sizeLg
					p.txtL.Hpadding About 
						span.bold.green Zen BackPackers
						br
						| in Busan
				
				.TmarginLg.padding.txtC.sizeS
					p.txtL.Hpadding Award-winning 
						span.bold.green friendly
						br
						| guesthouse for more than 
						span.bold.green 5 years
						,
						br
						| smoothly located between both rather dark or bright sides of center of town, 
						span.bold.green SeoMyeon District.
						br
						br
						| Aside of that offering such capacities &amp; facilities :
						br
						| - Comfortable Dormitory Rooms beds
						br
						| - Convenient Twin Room beds
						br
						| - Common kitchen and living-room
						br
						| - Washing machine on demand
						br
						| - Directions in Busan and all advices
						br
						| - Cultural/Social exchange
						br
						| - Free fortunetelling on demand
						br
						br
						| in 
						span.bold.green most 
						| of cases.
					
				
				a.dispBlock.toHome.powderBG.topborder.rightborder(href="#/en/home/") &lt; Back
