
<div class="projectsall">
	<ul class="projects context">
		
		
		<li class="projectall">
			<div class="project">
				<img editor_component="image_link" src="http://localhost/xe/test_xe/files/attach/images/234/238/497e3ef8beed1b319b70bfeee823fb1e.png" alt="4de7d63p.png" />
				<a class="projectlink" href="#">View Project</a>
			</div>
		</li>
		<li class="projectall">
			<div class="project">
				<img editor_component="image_link" src="http://localhost/xe/test_xe/files/attach/images/234/238/5000476ee98b8cef178b2829b0436ffb.png" alt="4de7d63p.png" />
				<a class="projectlink" href="#">View Project</a>
			</div>
		</li>
		<li class="projectall">
			<div class="project">
				<img editor_component="image_link" src="http://localhost/xe/test_xe/files/attach/images/234/238/929354673e800d5761df11e2c2e66e0b.png" alt="4de7d63p.png" />
				<a class="projectlink" href="#">View Project</a>
			</div>
		</li>
		<li class="projectall">
			<div class="project">
				<img editor_component="image_link" src="http://localhost/xe/test_xe/files/attach/images/234/238/9976672378fb6e2100659a2506386b39.png" alt="4de7d63p.png" />
				<a class="projectlink" href="#">View Project</a>
			</div>
		</li>
		<li class="projectall">
			<div class="project">
				<img editor_component="image_link" src="http://localhost/xe/test_xe/files/attach/images/234/238/51e8502223fac8eccb23cba6bc1a86d9.png" alt="4de7d63p.png" />
				<a class="projectlink" href="#">View Project</a>
			</div>
		</li>
		<li class="projectall">
			<div class="project">
				<img editor_component="image_link" src="http://localhost/xe/test_xe/files/attach/images/234/238/5fc603af517928bafd42fab8ea74238b.png" alt="4de7d63p.png" />
				<a class="projectlink" href="#">View Project</a>
			</div>
		</li>
		<li class="projectall">
			<div class="project">
				<img editor_component="image_link" src="http://localhost/xe/test_xe/files/attach/images/234/238/116608f1d373f251c87b01b442fa431b.png" alt="4de7d63p.png" />
				<a class="projectlink" href="#">View Project</a>
			</div>
		</li>

		<li class="projectall">
			<div class="project">
				<img editor_component="image_link" src="http://localhost/xe/test_xe/files/attach/images/234/238/cae43c24fd90e59978317fa939ef9314.png" alt="4de7d63p.png" />
				<a class="projectlink" href="#">View Project</a>
			</div>
		</li>
		<li class="projectall">
			<div class="project">
				<img editor_component="image_link" src="http://localhost/xe/test_xe/files/attach/images/234/238/03509a0766c47afe8e34463c18c685ce.png" alt="4de7d63p.png" />
				<a class="projectlink" href="#">View Project</a>
			</div>
		</li>
		<li class="projectall">
			<div class="project">
				<img editor_component="image_link" src="http://localhost/xe/test_xe/files/attach/images/234/238/330d1c0ac6930c34bda57785e2d1452d.png" alt="4de7d63p.png" />
				<a class="projectlink" href="#">View Project</a>
			</div>
		</li>
	</ul>
</div>




<div class="homegallery">
	<div class="galleryall">
		
		<ol class="gallery">
			<li>
				<img editor_component="image_link" src="http://localhost/xe/test_xe/files/attach/images/156/230/b5433f72849c3cf4f6edbd98e5455912.png" alt="Homepage Main Slideshow Image 1" />
				<a class="gallerylink" href="#">
					<span class="">
						1
					</span>
				</a>
			</li>
			<li>
				<img editor_component="image_link" src="http://localhost/xe/test_xe/files/attach/images/156/230/b5433f72849c3cf4f6edbd98e5455912.png" alt="Homepage Main Slideshow Image 2" />
				<a class="gallerylink" href="#">
					<span class="">
						2
					</span>
				</a>
			</li>
			<li>
				<img editor_component="image_link" src="http://localhost/xe/test_xe/files/attach/images/156/230/b5433f72849c3cf4f6edbd98e5455912.png" alt="Homepage Main Slideshow Image 3" />
				<a class="gallerylink" href="#">
					<span class="">
						3
					</span>
				</a>
			</li>
			
		</ol>
		
	</div>
</div>