extends ./layout
block content
	#frame.frame.abs.left0.top0.right0.bottom0.fullW.fullH.blackBG.coloraddict
		#zoneall.zoneall
		
	script(type="text/javascript", src="./js/strawnode.js?starter=./strawnode_app/")
	