body, html {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
}
body {
    color: #000000;
    text-align: center;
}
a {
    color: #bc003a;
    text-decoration:none;
    outline:none !important;
}




.dispTable{
	display:table;
}
.dispCell{
	display:table-cell;
	position:relative;
}
.MSIE .dispTable{
	//position:relative;
	//height:auto !important;
	//top:50%;
	zoom:1;
}


.MSIE .dispCell{
	//display:table-cell;
	//position:relative;
	//top:-50%;
	zoom:1;
}


a:hover, .active a{
    color: #FFF;
}
.inactive {
    color: #666666 !important;
}
.inactive:hover {
    color: black !important;
}
.pentone , .pentone a{
    color: #A40133;
}
.pentone2 , .pentone2 a{
    color: #912738;
}

.pentone3 , .pentone3 a{
    color: #112233;
}

a.pentone:hover, a.pentone2:hover, .pentone2 a:hover, .pentone2 a:hover{
    color: #dc0a3c ;
}
.error {
    color: #A40133;
}
.darkest {
    color: #000000;
}
.darker {
    color: #121212;
}
.dark {
    color: #333333;
}
.shady {
    color: #666666;
}
.faded {
    color: #555;
}
.foggy {
    color: #BBBBBB;
}
.light {
    color: #CDCDCD;
}
.lighter {
    color: #E4E4D8;
}
.lightest {
    color: #FFFFFF;
}
.courrier {
    font-family: "Courier New","Times New Roman",Times,serif;
}
.typo {
    font-family:  "U.S. 101", "Impact", Helvetica ,Tahoma,sans-serif;
}
.uppercase {
    text-transform: uppercase;
}
.italic {
    font-style: italic;
}
.ls1 {
    letter-spacing: .5em;
}
.ls2 {
    letter-spacing: .3em;
}
.ls4 {
    letter-spacing: 1.5em;
}
.ls10 {
    letter-spacing: 2.5em;
}
.sizeXSm {
    font-size: 8px;
}
.sizeSm {
    font-size: 10px;
}
.sizeR {
    font-size: 14px;
}
.sizeM {
    font-size: 18px;
}
.sizeLg {
    font-size: 24px;
}
.sizeXLg {
    font-size: 34px;
}
.sizeXXLg {
    font-size: 44px;
}
.sizeXXXLg {
    font-size: 54px;
}
html, body {
    overflow: hidden;
    width:100%;
    height:100%;
    -webkit-text-size-adjust: 100%;
}
.fullBg{
	-webkit-background-size:cover !important;
	-moz-background-size:cover !important;
	-o-background-size:cover !important;
	background-size:cover !important;
}

body{
	background:#A40133;
}

.home body{
	background:#666666;
}

.clickable{
	cursor:pointer;
}

.unselectable{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

}

#test{
	/*background:url(./skin/mon-logo.png) no-repeat 50% bottom;*/
	background:#1F1F1F;
}


.snow{
	display:none;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	border-radius:20px;
	
	-moz-box-shadow:5px 5px 5px rgba(255, 255, 255, .4);
	-webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, .4);
	-o-box-shadow:5px 5px 5px rgba(255, 255, 255, .4);
	box-shadow:5px 5px 5px rgba(255, 255, 255, .4);
}










#back{
	position:absolute;
	bottom:0px;
    overflow:hidden;
    top:50px;
    right:0;
    bottom:50px;
    left:0;
    background:url('./skin/killerinstinct.png') no-repeat 0 0;
    z-index:1;
}

#frame{
	position:relative;
   	height:100%;
    width:100%;
    overflow:hidden;
}

#frameInside{
	background:#1A1A1A;
    position: absolute;
    right: 1px;
    left: 1px;
    top:1px;
    bottom:1px;
}




.logosite{
	width:100%;
	height:100px;
	position:absolute;
	bottom:50px;
	display:block;
	background:url('./skin/logo.png') no-repeat 50% bottom ;
}

.sidenav{
	width:0;
	position:relative;
	height:100%;
	background:#111;
	z-index: 200;
}
*:focus{
	color:#FFF !important;
	outline:none;
}
.shadow{
	text-shadow:-1px 1px 0 #A40133;
}
.home *:focus, .home a:hover{
	color:#444 !important;
}

.home a{
	color:#808080;
}
.home .shadow{
	text-shadow:-1px 1px 0 rgba(255, 255, 255, .4);
}

.sectionsnav{
	padding:20px;
	
}

.indicnav{
	position:absolute;
	bottom:1.5em;
	left:1.5em;
	z-index: 3000;
}
.indicnav ol{	
	background:#A40133;
	border-radius:7px;
	border-top-right-radius:50px;
	padding:1em;
	padding-right:3em;
}
.home .indicnav ol{
	background:transparent;
}



.arrow{
	/*font-size:49px;*/
}

#indicnav .navitem{
	line-height: 1em;
}

#indicnav .sizeM{
	margin-left:.5em;
	
}


.home.content{
	width:100%;
	position:absolute;
	
	left:0px;
	right:0px;
	bottom:0;
	top:0;
	
	
}

.blocImg{
	width:100%;
	overflow:hidden;
	text-align:center;
	height:100%;
	background:#881122;
	/*
	background:url("../img/path3455.png") no-repeat 50% 50%;
	*/
}
.home .blocImg{
	text-align:left;
	height:100%;
	background:#999;
	/*
	background:url("../img/path3999.png") no-repeat 50% 50%;
	*/
}

.blocTxt{
	height:200px;
	background:#333;
}


.navdiv{
    height: 100px;
    left: 50%;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 100%;
}


.navstep{
	width:6000px;
	position:relative;
	left:-50%;
	line-height:1em ;
	height: 100%;
	z-index: 70;
}

.navstep li{
	
	line-height:1em ;
	height:1em ;
}

.navstepitem{
	color:#580707;
	margin-top: -0.5em;
    position: relative;
    top: 50%;
    
    max-width: 70%;
    
	cursor:default;
}

.navstep li.floaL{
	position:relative;
	z-index:1000;
}

.navstep a{
	display:block;
	line-height:1em ;
}

.topstep{
	position:absolute;
	top:0;
	line-height:1em ;
}


.enterstep{
	position:absolute;
	bottom:0;
	line-height:1em ;
	margin-left:2px;
}

.navstepitem a{
	position: relative;
	max-width: 11em;
	min-width:50px;
	text-align:center;
	
}

.hierarchical a{
	width:30px;
	height:.5em;
	text-align:center;
}

.steparrows{
	position:absolute;
	left:0;
	top: 50%;
	z-index:1000;
	width:0px;
	line-height:1em ;
}

.stepnext{
	right:-1.25em;
}
.stepprev{
	left:-1.25em;
}

.steparrow{
	margin-top: -0.5em;
    position: absolute;
    top: 50%;
	line-height:1em ;
	width:30px;
}


.navstep li.Rmargin{
	margin-right:.3em !important;
	
}

#canvas{
	position:absolute;
	/*width:500px;
	height:500px;
	left:50%;
	top:50%;
	margin-top:-250px;
	margin-left:-250px;*/
	
	top:0;
	left:0;
	
}


.desc{
	right:1.5em;
	top:1.5em;
	left:auto;
}

.t1{
	position:relative;
	text-align:left;
	background:#A40133;
	border-radius:7px;
	border-bottom-left-radius:50px;
	padding:1em;
	padding-left:3.5em;
	
	
}
.t1 h2{
	line-height: 1em;
}
.t1 .indicator{
	text-align:center;
	display:block;
	float:left;
	
	width:1.5em;
	height:1.5em;
	line-height: 1.5em;
	
	position:absolute;
	top:1em;
	left:1em;
	
	background:#881122;
	color:#FFF;
	border-radius:18px;
}


.wikiTxt{
	max-width:20em;
}

.wikiTxt p{
	font-size:.5em;
}

.wikiTxt .year{
	font-size:.7em;
}

