extends ./layout
block content
	#frame.frame.abs.left0.top0.right0.bottom0.fullW.fullH.blackBG.coloraddict.context
		#zoneall.zoneall.context
	
		
	script( type="text/javascript", src="/js/strawnode.js" )
	script( type="text/javascript", src="/js/strawnode_app/node_modules/betweenjs.min.js")
	script( type="text/javascript", src="/js/strawnode_app/node_modules/node_modules/jquery-1.8.1.min.js")
	script( type="text/javascript", src="/js/strawnode_app/node_modules/node_modules/jquery.ba-hashchange.min.js")
	script( type="text/javascript", src="/js/strawnode_app/node_modules/strawexpress.js")
	script( type="text/javascript", src="/js/strawnode_app/node_modules/strawexpress-address.js")
	script( type="text/javascript", src="/js/strawnode_app/node_modules/strawexpress-utils.js")
	script( type="text/javascript", src="/js/strawnode_app/node_modules/strawjade.js")
	script( type="text/javascript", src="/js/strawnode_app/graphics.js")
	script( type="text/javascript", src="/js/strawnode_app/routes.js")
	script( type="text/javascript", src="/js/strawnode_app/index.js")
	
	// script(type="text/javascript", src="./js/strawnode.js?starter=./strawnode_app/")