body, html {
    background:#c6c6c6;
    height: 100%;
}
body {
    color: #F3F3F3;
    text-align: center;
}
a {
    color: #CCC;
    text-decoration:none;
    outline:none !important;
}



a:hover, .active a{
    color: #333;
}
.inactive {
    color: #666666 !important;
}
.inactive:hover {
    color: black !important;
}
.pentone , .pentone a{
    color: #A40133;
}
.pentone2 , .pentone2 a{
    color: #912738;
}

.pentone3 , .pentone3 a{
    color: #ed014a;
}

.error {
    color: #A40133;
}
.darkest {
    color: #000000;
}
.darker {
    color: #121212;
}
.dark {
    color: #434343;
}
.shady {
    color: #666666;
}
.faded {
    color: #555;
}
.foggy {
    color: #BBBBBB;
}
.light {
    color: #CDCDCD;
}
.lighter {
    color: #E4E4D8;
}
.lightest {
    color: #FFFFFF;
}
.courrier {
    font-family: "Courier New","Times New Roman",Times,serif;
}
.typo {
    /* font-family: "Kozuka Gothic Pro EL", "DFPKaiSho-Md", "Georgia" ; */
    font-family: "Kozuka Gothic Pro EL" ;
}
.uppercase {
    text-transform: uppercase;
}
.nouppercase{
	text-transform: normal !important;
}
.italic {
    font-style: italic;
}
.ls1 {
    letter-spacing: .2em;
}
.ls2 {
    letter-spacing: .3em;
}
.ls4 {
    letter-spacing: 1.5em;
}
.ls10 {
    letter-spacing: 2.5em;
}
.sizeXSm {
    font-size: 9px;
}
.sizeSm {
    font-size: 10px;
}
.sizeR {
    font-size: 14px;
}
.sizeM {
    font-size: 18px;
}
.sizeLg {
    font-size: 24px;
}
.sizeXLg {
    font-size: 36px;
}
.sizeXXLg {
    font-size: 44px;
}
.sizeXXXLg {
    font-size: 54px;
}
html, body {
    -webkit-text-size-adjust: 100%;
}

.clickable{
	cursor:url('../img/pointer.png'), -moz-zoom-in;
}

.movable, .movable *{
	cursor:url('../img/move.png'), -moz-zoom-in;
}
.movableleft, .movableleft *{
	cursor:url('../img/moveleft.png'), -moz-zoom-in;
}

.movableright, .movableright *{
	cursor:url('../img/moveright.png'), -moz-zoom-in;
}
.movableup, .movableup *{
	cursor:url('../img/moveup.png'), -moz-zoom-in;
}

.movabledown, .movabledown *{
	cursor:url('../img/movedown.png'), -moz-zoom-in;
}
.unclickable{
	cursor:default;
}


/* GENERICS */

/* backgrounds */
.blackBG{background-color:#000;}
.whiteBG{background-color:#FFF;}
.lightgrayBG, .lightgrayBG{background-color:#CCC;}
.grayBG, .greyBG{background-color:#999;}
.darkgrayBG, .darkgreyBG{background-color:#666;}
.anthraciteBG{background-color:#333;}
.antBG{background-color:#222;}
.darkBG, .darkBG{background-color:#121212;}
.anthraxBG{background-color:#F7F7F7;}

/* ELEMENTS */

.all{
	
	
}

.project{
	background-color:#222;
}


.page{
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
}
.page .clickable{
	top:100px;
	left:100px;
	right:100px;
	bottom:100px;
	z-index: 2;
}

.centerblock{
	top:70px;
	bottom:70px;
	left:0;
	right:0%;
	z-index:1;
	/* cursor:default; */
	/* overflow:hidden; */
}
.centerblock img{
	width:auto;
	/* max-width:500px;
	min-width:300px; */
}
.arr{
	z-index:2000;
	background:#2A2A2A;
	margin-top:-25px;
}

.projectarr{
	z-index:200;
}

.arr a{
	height: 50px;
    line-height: 50px;
	font-size:1.5em;
    width: 40px;
}

.projectarr a{
	margin:0 auto;
	height: 50px;
    line-height: 50px;
	font-size:1.2em;
    width: 40px;
}

.arrow:hover, .arrow:focus, .arrow:active{
	color:#ff6457 !important;
}

.help{
	z-index:400;
}


.read{
	z-index:600;
	height:50px;
	overflow:hidden;
	font-size:2em;
}


a{
	cursor:pointer !important;
	cursor:url('../img/pointer.png'), -moz-zoom-in !important;
}

#readinfofirst:hover{
	color:#d4d0c8 !important;
}


.info{
	width:0%;
	top:0px;
	bottom:0px;
	z-index:500;
	/* border-left:1px solid #444; */
	background:#2a2a2a;
	/* background:rgba(31,31,31,.9); */
	/* text-shadow:1px 1px 2px #777; */
}

.contblockinside{
	text-align:center;
	overflow:hidden;
}


.imghold{
	top:130px;
	left:-40px;
	right:-40px;
	bottom:130px;
}
.imghold  img{
	display:block;
	width:100%;
	height:auto;
}
.momocolor, .momocolor *{
	color:#ff6457 !important ;
}
.momocolor a:hover, .momocolor a:hover span, a.momocolor:hover{
	color:#d4d0c8 !important ;
}
.letter{
	position:relative;
	text-align:center;
	padding:3px 5px 3px ;
}
.jp .dispBlock.letter{
	background:#2a2a2a;
	margin:1px 1px 0 0;
}
.desc, .desc .letter{
	/* width:230px; */
	line-height:1em;
	text-align:right;
	text-transform:uppercase;
	/* display:inline; */
}
.marginAuto{
	margin:0 auto;
}

/* DISPLAY TABLE VALIGN */

.dispTable{
	display:table;
}
.dispCell{
	display:table-cell;
	position:relative;
}
.MSIE .dispTable{
	//position:relative;
	//height:auto !important;
	//top:50%;
	zoom:1;
}


.MSIE .dispCell{
	//display:table-cell;
	//position:relative;
	//top:-50%;
	zoom:1;
}
