.page.dispNone.home
	.rel.fullH.fullW.marginAuto
		.abs.zenbackground
			//
		
		.context.fullH
			.hometitle2.dispTable.fullW.fullH.abs.top0.left0.right0
				.dispCell.txtM.fullW
					.zen.bold.darker.txtL(style="margin-left:-3px;margin-top:2px")
						.sizeXXXLg.uppercase.HpaddingXXLg(style="color:#555;margin-left:-2px") Zen
						.sizeXXLg.uppercase.HpaddingXXLg(style="color:#555;") Backpackers
			.hometitle.dispTable.fullW.fullH.abs.top0.left0.right0
				.dispCell.txtM.fullW
					.zen.bold.darker.txtL(style="margin-left:-3px;")
						.sizeXXXLg.uppercase.HpaddingXXLg(style="color:#444;margin-left:-2px") Zen
						.sizeXXLg.uppercase.HpaddingXXLg(style="color:#444;") Backpackers
		
		
		.abs.left0.top0.paddingXXLg.sizeR.txtL
			span.bold.green June Park
			| +(82) 10 - 8722 - 1530
		
		.abs.right0.top0.paddingXXLg.sizeR.txtR
			span.bold.green 1530 Neospot, Bujeong-dong
			br
			| Busan-jingu,
			span.bold.green Busan, KOREA
		
		.abs.left0.bottom0.right0.paddingXXLg.sizeM.txtL
			span.bold.green Busan 
			| Guesthouse
			br
			| for 
			span.bold.green Beautiful 
			| Travelers