.page.dispNone.context
	.abs.dispTable.fullW.fullH(style="background:#3A3A3A;")
		.slideshow.context.abs.fullW.fullH(style="margin-top:100%;")	 
			
			ol.rel.slides.flowvisible.fullH(style="left:0%;")
				li.slide.abs.context.fullW.fullH(style="left:0%")
					a.dispBlock.fullW.fullH(href="./img/pics/tableau.jpg", alt="")
						span.hidden 1
				li.slide.abs.context.fullW.fullH(style="left:100%")
					a.dispBlock.fullW.fullH(href="./img/pics/vue1.jpg", alt="")
						span.hidden 2
				li.slide.abs.context.fullW.fullH(style="left:200%")
					a.dispBlock.fullW.fullH(href="./img/pics/vue2.jpg", alt="")
						span.hidden 3
				li.slide.abs.context.fullW.fullH(style="left:300%")
					a.dispBlock.fullW.fullH(href="./img/pics/salon1.jpg", alt="")
						span.hidden 4
				li.slide.abs.context.fullW.fullH(style="left:400%")
					a.dispBlock.fullW.fullH(href="./img/pics/salon2.jpg", alt="")
						span.hidden 5
				li.slide.abs.context.fullW.fullH(style="left:500%")
					a.dispBlock.fullW.fullH(href="./img/pics/chambre2.jpg", alt="")
						span.hidden 6
				li.slide.abs.context.fullW.fullH(style="left:600%")
					a.dispBlock.fullW.fullH(href="./img/pics/chambre1.jpg", alt="")
						span.hidden 7
			
		.abs.left0.right0.bottom0.topborder(style="background:#2A2A2A")
			.constraint.HpaddingLg
				.padding.txtC.sizeLg.VpaddingLg
					p.txtL.Hpadding.shady Rooms :
						br 
						span.bold.green Have a nice stay !
				
				a.dispBlock.toHome.powderBG.topborder.rightborder(href="#/en/home/") &lt; Back
			
			.context.slidenav.abs.bottom0.right0
				.slidenavli.floatL.txtR.green
					a.dispBlock.paddingXXLg.Rpadding.prev.green(href="#") &lt;
				.slidenavli.floatL.txtL.green
					a.dispBlock.paddingXXLg.Lpadding.next.green(href="#")  &gt;